<h1>What are we voting on?<i>(edit)</i></h1>
<ul>
<li>&#x25b2; Something about whatever</li>
<li>&#x25b2; Another thing</li>
<li>&#x25b2; This too</li>
<li><i>add item</i></li>
</ul>

<h2>Ending in 00:00:00</h2>
<i>end now</i>
