<div class="container">
  <div class="hero-unit">
    <h1>Vote on something.</h1>

    <form class="well form-inline">
      <select id="votes_per_person">
        <option>votes per person</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <select id="votes_per_item">
        <option>votes per option</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <input type="text" placeholder="poll title">
      <button type="submit" class="btn btn-primary btn-large">Start Poll</a>
    </form>
  </div>
</div>
