<h1>What are we voting on?<i></i></h1>

<ul>
<li>Something about whatever</li>
<li>Another thing</li>
<li>This too</li>
<li><i>add item</i></li>
</ul>

<p>X people have cast Y votes (they have Z votes remaning)</p>

<i>end now</i>
