<div class="container">
  <h1>What are we voting on?<i></i></h1>

  <ul class="unstyled">
    <li>Something about whatever</li>
    <li>Another thing</li>
    <li>This too</li>
    <li><input type="text" placeholder="add option"></i></li>
  </ul>

  <h2>X people have cast Y votes (they have Z votes remaning)</h2>

  <a href="#" class="btn btn-primary">end now</a>

  <hr>

  <div class="results">

  <h1>Results</h1>
    <div class="progress progress-success" style="margin-bottom: 9px;">
    <div class="bar" style="width: 60%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 35%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 20%"></div>
  </div>

  <div class="progress progress-info" style="margin-bottom: 9px;">
    <div class="bar" style="width: 15%"></div>
  </div>

  </div>

</div>
