li#add-li {
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 2px;
}

div#vote-buttons {
  padding-left: 22px;
  
}

div#remaining {
  padding-top: 8px;
  padding-bottom: 12px;
  font-weight: bold;
}